body {
    margin: 0; 
}

main{
    height: 100dvh;
    width: 100vw;
    display: flex;
}

main div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main div:nth-child(1){
    background-color: white;
}
main div:nth-child(2){
    background-color: bisque;
}

img{
    height: 700px;
    width: auto;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 350px;
}
label{
    font-size: 22px;
}
input{
    font-size: 20px;
    padding: 5px;
    outline: none;
}
button{
    font-size: 20px;
    padding: 8px;
}

p{
    text-align: center;
}
