* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(rgba(54, 54, 255, 0.4), rgba(52, 52, 255, 0.4)), url("https://i.pinimg.com/1200x/78/7e/f2/787ef22d5488526af7699c9904574164.jpg");
    background-size: cover;
    user-select: none;
}

/* container */
.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form input[type="text"],
form input[type="number"] {
    padding: 8px;
    margin: 8px 10px 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
}

/* Buttons */
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-success {
    margin-left: 31%;
    margin-bottom: 15px;
    background-color: #28a745;
    color: white;
}
.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #28a745;
    color: white;
}

.btn-warning:hover {
    background-color: #28a745;
}

/* Table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
}
