body{
    height: 100dvh;
    width: 100vw;
    margin:0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    user-select: none;

    font-family: "Inter", sans-serif;
}

.icon{
    height: 100%;
    width: 500px;
    animation: zoomout 1s ease-in;

    display: flex;
    align-items: center;
    justify-content: center;
}
.formcon{
    width: 500px;
    padding-bottom: 10px;
    opacity: 0;
    animation: pop .5s ease-in forwards;
    animation-delay: 1s;

    border-radius: 20px;
    box-shadow: 0 0 3px rgb(171, 171, 171);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
}
.formcon:hover{
    box-shadow: 0 0 3px rgb(133, 129, 255);
}

img{
    height: 70%;
    width: auto;
}

h1{
    text-align: center;
    margin: 30px 0 0;
}

@keyframes zoomout {
    0%{
        transform: scale(4);
        position: absolute;
        
    }75%{
        transform: scale(1);
        position: absolute;
    }100%{
        transform: scale(1);
        position: relative;
    }
}
@keyframes pop {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}



.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    transition: 0.5s;
}

input{
    font-size: 16px;
    outline: none;
    border: none;
   
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(241, 240, 240);
}

.form button{
    font-size: 18px;
    border: none;
    background-color: rgb(84, 84, 230);
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.form .goLogin{
    margin-top: 50px;
    text-align: center;
}

.form input:focus{
    background-color: white;
    box-shadow: 0 0 3px rgb(69, 134, 255);
    transition: 0.5s;
}

@media screen and (max-width: 1900px) {
    .icon{
        display: none;
    }
}

.loading{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 3px solid rgb(201, 201, 201);
    border-top: 3px solid white;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


.ppp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin:20px 0 40px;
}
.pn{
    height: 30px;
    width: 30px;
    background-color: rgba(78, 78, 255, 0.955);
    color: white;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#otp{
    background-color: rgba(228, 228, 228, 0.955);
    color: rgb(105, 105, 105);
}
.pl{
    width: 250px;
    height: 3px;
    background-color: rgb(236, 236, 236);
}

.verification{
    height: 30px;
    width: 10px;
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.wrongCode{
    background-color: rgb(241, 240, 240);
    animation: indicate 1s alternate infinite;
}

@keyframes indicate {
    0%{
        background-color: rgb(241, 240, 240);
    }100%{
        background-color: #ffdede;
    }
}

#msg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.396);
}

#msg .msgBox{
    background-color: rgba(255, 255, 255, 1);
    width:350px;
    border-radius: 20px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 30px rgb(115, 115, 115);

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    animation: modernSlideUp .5s ease;
}
#msg svg{
    margin: auto;
}
#msg h1{
    margin: 10px 0 0 0;
    padding: 0;
    color: #111827;
    font-size: 24px;
    font-weight: 600;
}
#msg p{
    color: #7c7c7c;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin: 10px 0;
}
#msg .msgbtn{
    display: flex;
    gap: 10%;
    margin: 20px 0 10px 0;
}
#msg .msgbtn div{
    width: 45%;
    background-color: aliceblue;
    padding: 10px;
    text-align: center;
    font-weight: 300;
    border-radius: 10px;
}
#msg .msgbtn div:hover{
    transform: translateY(-5px);
    transition: .3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
#msg .msgbtn div:nth-child(1){
    background-color: #10b981;
    color: white;
}
#msg .msgbtn div:nth-child(2){
    border: 1px solid rgb(188, 188, 188);
    color: #444 ;
}

@keyframes popup {
    0%{transform: scale(0);}
    100%{transform: scal(1);}
}

@keyframes modernSlideUp {
    0% {
        transform: translate(-50%, -50%) scale(0.7) translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1) translateY(0);
        opacity: 1;
    }
}

@keyframes modernSlideUp2 {
    0% {
        transform: scale(0.7) translateY(80px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}


#inputAlert{
    padding: 10px 15px;
    margin: -20px 0 20px 0;
    background-color: #ffd8d86e;
    border-radius: 10px;
    border: 1px solid rgb(255, 179, 179);
    font-size: 15px;
    color: rgb(255, 22, 22);
    font-weight: 400;
    animation: modernSlideUp2 .5s ease;
}

.styleAlert{
    border: 2px solid #ff9a9a !important;
    background-color: rgba(255, 208, 208, 0.674);
}

